body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.pages {
  text-align: center;
}

.body {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  text-align: right;
  background-color: rgb(184, 186, 219);
  padding: 10px;
  padding-inline: 40px;
}

#middle {
  background-image: linear-gradient(to bottom right, red, orange, green, blue, indigo, violet);
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

#footer {
  background-color: rgb(205, 203, 203);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

#footer-text {
  text-align: center;
}

a {
  text-decoration: none;
  padding-inline: 5px;
  font-size: medium;
  padding: 7px;
  color: #1d23d4;
}

a:hover {
  color: rgb(29, 13, 154);
}

a.active {
  color: whitesmoke;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}