* {
    margin: 0;
    font-family: 'Product Sans', sans-serif;
}

.navbar {
    background-color: rgb(60, 119, 2);
    overflow: hidden;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    padding-inline-start: 30px;
}

.navbar li {
    float: left;
}

.navbar a {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header-text {
    background-color: rgb(60, 119, 2);
    text-align: center;
    color: #ccc;
    padding-top: 150px;
    padding-bottom: 200px;
    margin-bottom: 50px;
}

.header-text h1 {
    color: #ccc;
    text-align: center;
    padding-top: 20px;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.2;
    
    /* Adjust font size for smaller screens */
    @media (max-width: 768px) {
        font-size: 4rem;
    }

    /* Adjust font size for even smaller screens */
    @media (max-width: 480px) {
        font-size: 3rem;
    }
}

.header-text p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
    /* Adjust font sizes for smaller screens */
    @media (max-width: 768px) {
    font-size: 2rem;
    }
    /* Adjust font sizes for even smaller screens */
    @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.feature {
    color: #565656;
    font-weight: 400;
    font-size: 2.8rem !important;
    text-align: center;
    padding-top: 20px;
    padding-block-end: 50px;
    margin-bottom: 20px;
}

.feature h3 {
    border-bottom: solid 2px #4da808;
    display: inline-block;
    font-weight:normal;
    padding-bottom: 30px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    /* Adjust font size for smaller screens */
    @media (max-width: 768px) {
        font-size: 4rem;
    }

    /* Adjust font size for even smaller screens */
    @media (max-width: 480px) {
        font-size: 3rem;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
    gap: 20px; /* Gap between columns */
    padding-inline: 30px;
    padding-bottom: 50px;

    /* For screens smaller than or equal to 600px */
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); /* One column per row */
      }

    @media (max-width: 600px) {
      grid-template-columns: 1fr; /* One column per row */
    }
  }

  .grid-item {
    padding: 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    color: #757575;
    transition: box-shadow 0.3s ease-out; /* Adjust transition duration as needed */
  }

  .grid-item p {
    padding-block: 20px;
  }

  .grid-item h1 {
    text-align: center;
    color: #4da808;
    padding-bottom: 10px;
  }

  .grid-item:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.4s ease-out; /* Adjust transition duration as needed */
  }

  

  .text-center {
    text-align: center;
  }

  .text-green {
    color: #4da808;
  }